{% extends 'nav.html' %}
{% block title %} Change Password {% endblock title %}
{% block content %}
    <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-item nav-link {% if request.path == '/profile/' %} btn-primary {% endif %}" href="{% url 'profile' %}">Profile</a>
            <a class="nav-item nav-link {% if request.path == '/orders/' %} btn-primary {% endif %}" href="{% url 'orders' %}">Orders</a>
            <a class="nav-item nav-link {% if request.path == '/address/' %} btn-primary {% endif %}" href="{% url 'address' %}">Address</a>
            <a class="nav-item nav-link {% if request.path == '/passwordchange/' %} btn-primary {% endif %}" href="{% url 'passwordchange' %}">Change Password</a>
        </nav>
    <!-- Account page navigation -->
    <!-- Password Change Form -->
    <form action="" method="POST" novalidate class="shadow p-5">
        {% csrf_token %}
        {% for fm in form %}
        <div class="form-group mb-3">
            {{fm.label_tag}} {{fm}} 
            <small class="text-danger"> {{fm.errors | striptags}}
            </small>
        </div>
        {% endfor %}
        <input type="submit" value="submit" class="btn btn-primary">
        {% if form.non_field_errors %}
        
        {% for error in  form.non_field_errors %}
        <P class="alert alert-danger my-3">{{error}}</P>
        {% endfor %}
        {% endif %}
    </form>
    <!-- Password change form end -->
</div>
{% endblock content %}