{% extends 'nav.html' %}
{% block title %} Profile {% endblock title %}
{% block content %}
    <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-item nav-link {% if request.path == '/profile/' %} btn-primary {% endif %}" href="{% url 'profile' %}">Profile</a>
            <a class="nav-item nav-link {% if request.path == '/address/' %} btn-primary {% endif %}" href="{% url 'address' %}">Address</a>
            <a class="nav-item nav-link {% if request.path == '/passwordchange/' %} btn-primary {% endif %}" href="{% url 'passwordchange' %}">Change Password</a>
        </nav>
    <!-- navigation end -->
        <form action="" method="POST" novalidate class="shadow p-5">
        <h3>Welcome {{user.username | capfirst }}</h3>
        <br>
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group mb-3">
                    {{fm.label_tag}} {{fm}} 
                    <small class="text-danger">
                        {{fm.errors}}
                    </small>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary mt-4">Update</button>
                {% for error in form.non_field_errors %}
                <P {% if error %} class="alert alert-danger my-3" {% endif %}>{{error}}</P>
                {% empty %}
                {% endfor %}
            </form>
            {% for message in messages %}
                <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
            {% empty %}
            {% endfor %}
        </div>
    </div>
</div>
  
{% endblock content %}