{% extends 'base.html' %}
{% block title %} Register {% endblock title %}
{% block content %}
                <form action="" method="POST" novalidate class="shadow p-5">
                    {% for message in messages %}
                        <P{% if message.tags%} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</P>
                    {% empty %}
                    {% endfor %}
                    {% csrf_token %}
                    {% for fm in form %}
                    <div class="form-group mb-3">
                        {{fm.label_tag}} {{fm}} 
                        <small class="text-danger"> {{fm.errors | striptags}}
                        </small>
                    </div>
                    {% endfor %}
                    <input type="submit" value="submit" class="btn btn-primary">
                    <div class="text-center">
                        <small>Already Register! <a href="{% url 'login' %}" class="text-danger"> Login</a></small>
                    </div>
                    {% if form.non_field_errors %}
                    
                    {% for error in  form.non_field_errors %}
                    <P class="alert alert-danger my-3">{{error}}</P>
                    {% endfor %}
                    {% endif %}
                </form>
{% endblock content %}