<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger"> Library Management System View Modelform CRUD Project</h2>
    
    {% block content %}
        
    {% endblock content %}
    </div>
        
    <link rel="stylesheet" href="/static/js/jquery.js">
    <link rel="stylesheet" href="/static/js/bootstrap.js">
    <link rel="stylesheet" href="/static/js/popper.js">
</body>
</html>