<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Form</title>
    <style>
        #text{
            width: 25%;
            font-size: 20px;

        }
        #text2{
            width: 500px;
            height: 80px;
            font-size: 20px;
        }
        .fieldset{
            background-color: white;
        }
        .legend{
            font-size: 20px;
            padding-left: 10px;
            padding-right: 10px;
            color: blue;
        }
    </style>
</head>
<body>
    <div>
        <form>
            <fieldset class="fieldset">
                <legend class="legend"> Create Form </legend>
                <div id="text">
                Name: <input type="text" name="name"/>
                </div>
                <br/>
                <div id="text2">
                Description: <br><textarea name="address" id="text2">                
                </textarea>
                </div>
                <br/>
                <br/>
                <select>
                    <option> Select Status </option>
                    <option value="Done"> Done </option>
                    <option value="In progress" selected> In progress </option> 
                    <option value="Not done "> Not done </option>
                </select>
                 <br/>
                <br/>
                <button> Submit </button>
            </fieldset>
        </form>

    </div>   
</body>
</html>